body {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: url(img/back.png) #282828 79%;
	}
	
	@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	}  
	
	.form_auth_block_head_text
	{
	position: absolute;
	width: 643px;
	height: 579px;
	margin-left: 32%;
	top: 5%;
	background: #FFFFFF;
	border-radius: 20px;
	max-width: 600px;
	}
	@media (max-width:600px){
	.registration    {
	max-width: 500px;
	border-radius: 20px;
	}
	}
	@media (max-width:470px){
	.registration    {
	max-width: 400px; 
	}
	}
	@media (max-width:370px){
	.registration    {
	max-width: none; 
	border-radius: 20px;
	}
	}
	
	.reg {
	position: absolute;
	width: 100%;
	height: 146px;
	background: #00A3FF;
	border-radius: 20px;
	
	}
	h1 {
	font-family: Montserrat;
	margin-left: 12%;
	font-size: 64px;
	line-height: 78px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border-radius: 20px;
	}
	
	.secondname {
	position: absolute;
	width: 75%;
	height: 49px;
	margin-left: 11%;
	top: 25%;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.firstname {
	position: absolute;
	width: 75%;
	height: 49px;
	margin-left: 11%;
	top: 35%;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.email {
	position: absolute;
	width: 75%;
	height: 49px;
	margin-left: 11%;
	top: 190px;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.password {
	position: absolute;
	width: 75%;
	height: 49px;
	margin-left: 11%;
	top: 268px;
		border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;

	.avto {
	position: absolute;
	width: 75%;
	height: 49px;
	margin-left: 11%;
	top: 65%;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	
	p {
	font-family: Montserrat;
	font-style: normal;
	letter-spacing: 0.1em;
	color: rgba(0, 0, 0, 0.5);
	margin-left: 10%;
	
	}
	img {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 25%;
	left: 2%;
	
	}
	.confirm {
	position: absolute;
	width: 75%;
	height: 17px;
	margin-left:11% ;
	top: 72%;
	}
	.box {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 70%;
	left: 2%;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	}
	.create {
	position: absolute;
	width: 75%;
	height: 60px;
	margin-left: 13% ;
	top: 80%;
	cursor: pointer;
	border: 1px solid #282828;
	box-sizing: border-box;
	border-radius: 20px;
	
	}
	h2 {
	width: 180px;
	height: 22px;
	margin-left: 25%;
	
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	
	letter-spacing: 0.1em;
	
	color: #000000;
	}
	a {
	color: #000000;
	text-decoration: none;
	
	}
	}
	.input {
	margin-top: 3%;
	margin-left: 10%;
	border-style: none;
	height: 50%;
	width: 50%;
	}
	}
	a {
	cursor: pointer;
	}
	.avt:hover {
	color: #00A3FF
	}
	
	input {
	border-style: none;
	outline: 0;
	outline-offset: 0;
	}
	button:hover {
	filter: drop-shadow(0 0 20px #00A3FF);
	}
