body {
	
	width: 100%;
	height: 100%;
	background: url(img/back.png) #282828 79%;
	}
	
	@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	}  
	
	.form_auth_block_head_text
	{
	
	background: #FFFFFF;
	border-radius: 20px;
	max-width: 600px;
	}
	@media (max-width:600px){
	.registration    {
	max-width: 500px;
	border-radius: 20px;
	}
	}
	@media (max-width:470px){
	.registration    {
	max-width: 400px; 
	}
	}
	@media (max-width:370px){
	.registration    {
	max-width: none; 
	border-radius: 20px;
	}
	}
	
	.reg {
	text-align: center;
	width: 100%;
	height: 146px;
	background: #00A3FF;
	border-radius: 20px;
	
	}
	h1 {
	font-family: Montserrat;
	font-size: 64px;
	line-height: 78px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border-radius: 20px;
	}
	
	.secondname {
	
	width: 75%;
	height: 49px;
	
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.firstname {
	
	width: 75%;
	height: 49px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.email {
	
	width: 75%;
	height: 49px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	.password {
	
	width: 75%;
	height: 49px;
		border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;

	.avto {
	
	width: 75%;
	height: 49px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	}
	
	
	p {
	font-family: Montserrat;
	font-style: normal;
	letter-spacing: 0.1em;
	color: rgba(0, 0, 0, 0.5);
	}
	img {
	
	width: 23px;
	height: 23px;
	}
	.confirm {
	
	width: 75%;
	height: 17px;
	}
	.box {
	
	width: 20px;
	height: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;
	}
	.create {
	
	width: 75%;
	height: 60px;
	cursor: pointer;
	border: 1px solid #282828;
	box-sizing: border-box;
	border-radius: 20px;
	
	}
	.avto {
		background:#FFFFFF;
		cursor: pointer;
		border: 1px solid #282828;
		box-sizing: border-box;
		
		width: 299px;
		height: 50px;
		border: 1px solid #000000;
		box-sizing: border-box;
		border-radius: 15px;
	}
		 .avto:hover {
			background: #00A3FF;
			border-radius: 20px;
			filter: drop-shadow(0 0 20px #00A3FF);
	}
	.input {
	border-style: none;
	height: 50%;
	width: 50%;
	}
	}
	a {
	cursor: pointer;
	}
	.avt:hover {
	color: #00A3FF
	}
	
	input {
	border-style: none;
	outline: 0;
	outline-offset: 0;
	}
	button:hover {
	filter: drop-shadow(0 0 20px #00A3FF);
	}
